<small>{{ips_percent_free}} % IP address availability</small><br>
<div class="progress">
    <div class="bar bar-danger" {{bind-attr style=ips_used_style}}></div>
    <div class="bar bar-success" {{bind-attr style=ips_free_style}}></div>
</div>